<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <welcome-file-list>
		<!-- <welcome-file>index.html</welcome-file> -->
		<welcome-file>jsp/welcome.jsp</welcome-file>
	</welcome-file-list>
    
<!-- Java Servlets Mapping -->
    <servlet-mapping>
        <servlet-name>register_spot_servlet</servlet-name>
        <url-pattern>/register_spot_servlet/*</url-pattern>
    </servlet-mapping>

 <!--  <servlet-mapping>
        <servlet-name>make_booking_servlet</servlet-name>
        <url-pattern>/make_booking_servlet/*</url-pattern>
    </servlet-mapping>
-->       
      <servlet-mapping>
        <servlet-name>make_booking</servlet-name>
        <url-pattern>/make_booking/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>parking_spot_servlet</servlet-name>
        <url-pattern>/parking_spot_servlet/*</url-pattern>
    </servlet-mapping>
<!-- JSP Mapping  -->

	<servlet-mapping>
        <servlet-name>my_account</servlet-name>
        <url-pattern>/my_account/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
        <servlet-name>find_spots</servlet-name>
        <url-pattern>/find_spots/*</url-pattern>
    </servlet-mapping>    
        
    <servlet-mapping>
        <servlet-name>register_spot</servlet-name>
        <url-pattern>/register_spot/*</url-pattern>
    </servlet-mapping>

            
     <servlet-mapping>
        <servlet-name>make_booking</servlet-name>
        <url-pattern>/make_booking/*</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
         <servlet-name>delete_servlet</servlet-name>
         <url-pattern>/delete_servlet/*</url-pattern>
     </servlet-mapping>
            
  
<!-- Java Servlets  -->
    
    <servlet>
        <servlet-name>delete_servlet</servlet-name>
        <servlet-class>parking.DeleteServlet</servlet-class>
    </servlet>>
    
    <servlet>
        <servlet-name>register_spot_servlet</servlet-name>
        <servlet-class>parking.RegisterSpotServlet</servlet-class>
    </servlet>

<!--    <servlet>
        <servlet-name>make_booking_servlet</servlet-name>
        <servlet-class>com.eece417.ParkingSpot.server.MakeBooking</servlet-class>
    </servlet>
-->    
       
    <servlet>
        <servlet-name>parking_spot_servlet</servlet-name>
        <servlet-class>parking.ParkingServlet</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>make_booking</servlet-name>
        <servlet-class>parking.MakeBookingServlet</servlet-class>
    </servlet>
<!-- JSP -->      
 

    <servlet>
        <servlet-name>my_account</servlet-name>
		<jsp-file>/jsp/my_account.jsp</jsp-file>
    </servlet>
    
 	<servlet>
        <servlet-name>find_spots</servlet-name>
		<jsp-file>/jsp/find_spots.jsp</jsp-file>
    </servlet>
    
    <servlet>
        <servlet-name>register_spot</servlet-name>
		<jsp-file>/jsp/register_spot.jsp</jsp-file>
    </servlet>
    
<!--    <servlet>
        <servlet-name>make_booking</servlet-name>
		<jsp-file>/jsp/make_booking.jsp</jsp-file>
    </servlet>
-->
	
	
	

</web-app>